 .search { /*this is for the search button */
 font-size: 18px;
 background-color: rgb(216, 210, 210);
}

.search:hover {
    background-color: rgb(115, 109, 73);
}

.search-bar {
    font-size: 18px;
    width:40%
}

.btn { /*this is for the basket button */
    font-size: 16px;
    color:rgb(178, 196, 202);
    background-color: rgb(2, 2, 2);
    position:relative;
    left: 40%;
}

.btn:hover {
    background-color: rgb(47, 69, 44);
}

.heading {
    margin-top:60px;
}

.fav {
    background-color: rgb(93, 122, 93);
    color: beige;
}

.favo {
    background: white;
}

.remove { /*this is will display Remove in pink color once clicked onto Add to favourite button */
    background-color: rgb(238, 104, 104);
}

.back {
    font-size: 16px;
    top: 10px;
    background-color:rgb(249, 132, 132);
    padding: 4px;
    margin-right:700px;
    margin-top:58px;
}

.back:hover {
    background-color: rgb(218, 103, 103);
}

/* this is the style of how the page will look like */
.page {
    background: rgb(255, 255, 255);
    align-items: center;
    flex-wrap: wrap;
    display: grid;
    border: 1px solid black;
    justify-content: center;
    width:100%;
    padding:15px;
    
}